* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "armata";
    src: url("Armata.ttf") format("truetype");
}

:root {
    --main-color: rgb(219, 63, 61);
}

.mask {
    display: none;
}

.main {
    background-image: url("images/background.jpg");
}

.main, .game-board {
    height: 600px;
    width: 960px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header, .footer {
    display: flex;
    position: relative;
    color: #fff;
    z-index: 999;
}

.header, .footer {
    div img {
        width: 35px;
        height: 35px;
    }

    span {
        font-family: armata, sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
}

.header {
    div {
        padding: 10px;
        margin: 10px;
    }

    div span {
        padding: 10px;
        position: absolute;
        top: 15px;
    }

    .fuel {
        position: relative;
        width: 180px; /* 6*/
        height: 25px;
        border: red solid 2px;
        border-radius: 20px;
        margin-left: 20px;
        padding: 0;
        top: 10px;
    }

    .fuel img {
        position: relative;
        width: 10%;
        height: 80%;
        left: 4px;
        top: -42px;
    }

    .fuel span {
        position: relative;
        left: 120px;
        top: -44px;
    }

    .fuel-inside {
        position: relative;
        width: 185px;
        height: 25px;
        background-color: var(--main-color);
        padding: 0;
        left: -12px;
        top: -10px;
        border-radius: 20px;
    }

    .logo {
        position: absolute;
        right: 10px;
    }

    .logo img {
        height: 40px;
        width: 60px;
    }
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.footer {
    div {
        padding: 5px;
        margin: 3px;
    }
}

.sound {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #fff solid 2px;
    right: 10px;
    top: 50%;
    z-index: 9999;
}

.sound img {
    position: relative;
    width: 20px;
    height: 28px;
    left: 8px;
    animation: sound 5s linear infinite;
}

.plane {
    position: relative;
    width: 100px;
    height: 60px;
    z-index: 10;
    animation: plane-running 1s linear infinite;
}

.game-board {
    .npc {
        position: absolute;
        z-index: 10;
    }

    .enemy {
        height: 80px;
        width: 80px;
        background: url("images/enemy.png") no-repeat center / contain;
    }

    .friend {
        height: 80px;
        width: 80px;
        background: url("images/friend.png") no-repeat center / contain;
    }

    .asteroid {
        height: 100px;
        width: 100px;
        background: url("images/asteroid_dark.png") no-repeat center / contain;
        animation: asteroid 22s linear;
    }

    .fuel {
        width: 30px;
        height: 50px;
        animation: 2s linear 0s infinite normal none paused fuel, 9.71803s linear 0s 1 normal none move-down;
        background: url("images/fuel.png") no-repeat center / contain;
    }

    .bullet {
        width: 16px;
        height: 8px;
        background: url("images/bullet.png") no-repeat center / contain;
    }

    .player-bullet {
        background: url("images/bullet.png") no-repeat center / contain;
        animation: move-right 1s linear;
    }

    .enemy-bullet {
        background: url("images/enemy-bullet.png") no-repeat center / contain;
    }
}

.game-board .planet {
    position: absolute;
    filter: brightness(0.3);
    opacity: 0.9;
    z-index: 1;
    right: -500px;
}

@keyframes plane-running {
    0% {
        background: url("images/plane/plane4.png") no-repeat center/contain;
    }
    25% {
        background: url("images/plane/plane1.png") no-repeat center/contain;
    }
    50% {
        background: url("images/plane/plane2.png") no-repeat center/contain;
    }
    75% {
        background: url("images/plane/plane3.png") no-repeat center/contain;
    }
    100% {
        background: url("images/plane/plane4.png") no-repeat center/contain;
    }
}

@keyframes npc-bg {
    100% {
        background-position-x: -400%;
    }
}

@keyframes sound {
    to {
        transform: rotate(360deg);
    }
}

@keyframes asteroid {
    to {
        transform: translateX(-1600px) rotateZ(-60deg);
    }
}

@keyframes fuel {
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes move-left {
    to {
        transform: translateX(-1600px);
    }
}

@keyframes move-right {
    to {
        transform: translateX(1600px);
    }
}

@keyframes move-down {
    to {
        transform: translateY(1600px);
    }
}